.comment-form{
	margin-bottom: 20px;
	max-width: 600px;
	.form-item{
		margin-bottom: 10px;
		label{
			font-weight: 700;
		}
		input, textarea{
			width: 100%;
			border-radius: 4px;
			outline: 0;
			&.error{
				border-color: red;
			}
		}
	}
}